<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us - Coffee House</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- Navigation Bar -->
  <section id="header">
    <img
            th:src="@{/images/logo.png}"
            width="auto"
            height="80"
            class="logo d-inline-block align-top rounded-circle"
            alt=""
        />

        <div>
            <ul id="navbar">
                
                <li><a class="active"th:href="@{/}">Home</a></li>
                <li>
                    <a href="productsPage">Shop</a>
                    <ul class="dropdown">
                        <li><a href="#">Machines</a></li>
                        <li><a href="#">Beans</a></li>
                        <li><a href="#">Coffee</a></li>
                    </ul>
                </li>
                <li><a href="login2">My Account</a></li>
                <li><a href="aboutus">About</a></li>
                <li><a href="#form-details">Contact</a></li>
                <li id="admin"><a href="adminLogin">Admin</a></li>
                <li id="lg-bag"><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
                
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <!-- About Us Section -->
    <section id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>About Us</h2>
                    <p>At Coffee House, we're passionate about delivering the best coffee experience to our customers. We believe that great coffee starts with high-quality beans and careful roasting, but it's not just about the product - it's about the people too.</p>
                    <p>Our team of expert baristas is dedicated to crafting the perfect cup of coffee for you, whether you prefer a classic latte or a more adventurous pour-over. We believe that every cup of coffee is an opportunity to connect with others and make the world a better place, one sip at a time.</p>
                </div>
                <div class="col-lg-6">
                    <img src="../images/about-us.jpg" alt="Coffee House Team" class="img-fluid rounded">
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>&copy; 2023 Coffee House. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIA"></script>

