<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../css/checkoutStyles.css" />
  <link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  />
    <link rel="shortcut icon" href="../favicon/favicon.ico" type="image/x-icon">
</head>
<body>
    <section id="header">
      <img
            th:src="@{/images/logo.png}"
            width="auto"
            height="80"
            class="logo d-inline-block align-top rounded-circle"
            alt=""
        />
  
          <div>
              <ul id="navbar">
                  
                  <li><a class="active"th:href="@{/}">Home</a></li>
                  <li>
                      <a href="productsPage">Shop</a>
                      <ul class="dropdown">
                          <li><a th:href="@{/product/origin/ethiopia}"}>Ethiopia</a></li>
                          <li><a th:href="@{/product/origin/kenya}">Kenya</a></li>
                          <li><a th:href="@{/product/origin/brazil}">Brazil</a></li>
                          <li><a th:href="@{/product/origin/colombia}">Colombia</a></li>
                          <li><a th:href="@{/product/origin/centralamerica}">Central America</a></li>
                      </ul>
                  </li>
                  <li><a href="login2">My Account</a></li>
                  <li><a href="aboutus">About</a></li>
                  <li><a href="#form-details">Contact</a></li>
                  <li id="admin"><a href="adminLogin">Admin</a></li>
                  <li id="lg-bag"><a href="cart"><i class="far fa-shopping-bag"></i></a></li>
                  
                  <a href="#" id="close"><i class="far fa-times"></i></a>
              </ul>
          </div>
          <div id="mobile">
              <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
              <i id="bar" class="fas fa-outdent"></i>
          </div>
      </section>

<div class="container mt-5 d-flex align-items-start">
  <div class="col-md-6 d-inline-block align-top">
    <table class="table">
      <thead>
        <tr>
          <th>Product Image</th>
          <th>Product Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total Price</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="cartItem : ${cartItems}">
          <td>
              <img th:src="'data:image/png;base64,' + ${imgUtil.getImgData(cartItem.product.imageData)}" 
              width="75" height="50" />
          </td>
          <td th:text="${cartItem.product.productName}"></td>
          <td th:text="${cartItem.product.productPrice}"></td>
          <td th:text="${cartItem.quantity}"></td>
          <td th:text="${cartItem.product.productPrice * cartItem.quantity}"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6 d-inline-block align-top">
      <!-- Checkout form code goes here -->
      <div class="container mt-5">
        <h1 class="mb-4">Checkout</h1>
        <form method = "post" th:action="@{/placeOrder}">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" name = "firstName" required>
            </div>
            <div class="form-group col-md-6">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" name = "lastName" required>
            </div>
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" name = "address" required>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" name = "city" required>
            </div>
            <div class="form-group col-md-6">
              <label for="state">County</label>
              <input type="text" class="form-control" id="state" name = "state" required>
            </div>
          </div>
          <div class="form-group">
            <label for="zip">Postcode</label>
            <input type="text" class="form-control" id="zip" name = "zip" required>
          </div>
          <div class="form-group">
            <label for="cardNumber">Card Number</label>
            <input type="text" class="form-control" id="cardNumber" name = "cardNumber" required>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="expiration">Expiration</label>
              <input type="text" class="form-control" id="expiration" placeholder="MM/YY" name = "expiration" required>
            </div>
            <div class="form-group col-md-6">
              <label for="cvv">CVV</label>
              <input type="text" class="form-control" id="cvv" name = "cvv" required>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-success">Checkout</button>
          </div>
        </form>
      </div>
  </div>



  
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
