<!DOCTYPE html>
<html>
<head>

    <title> Product Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="gallery">
        <div class="content">
            <img src="images/mug1.jpg" />
            <h3>Coffee Mugs/Cups</h3>
            <p>Twin Pack Mugs</p>
            <h6>£11.00</h6>
            <button class="buy-1">Buy Now</button>
        </div>



        <div class="content">
            <img src="images/mug2.jpg" />
            <h3>Coffee Mugs/Cups</h3>
            <p> Cheese Happy mug </p>
            <h6>£8.00</h6>
            <button class="buy-2">Buy Now</button>
        </div>


        <div class="content">
            <img src="images/mug3.jpg" />
            <h3>Coffee Mugs/Cups</h3>
            <p> Resuable coffee club</p>
            <h6>£11.00</h6>
            <button class="buy-3">Buy Now</button>
        </div>



        <div class="content">
            <img src="images/mug4.jpg" />
            <h3>Coffee Mugs/Cups</h3>
            <p> Brown Coffee Mug</p>
            <h6>£14.00</h6>
            <button class="buy-4">Buy Now</button>
        </div>


        
        <div class="content">
            <img src="images/mug5.jpg" />
            <h3>Coffee Mugs/Cups</h3>
            <p>Green Cup with matching plate set</p>
            <h6>£11.00</h6>
            <button class="buy-5">Buy Now</button>
        </div>

        
        
    </div>
</body>
</html>