<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="../css/log.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section id="header">
    <img
            th:src="@{/images/logo.png}"
            width="auto"
            height="80"
            class="logo d-inline-block align-top rounded-circle"
            alt=""
        />

        <div>
            <ul id="navbar">
                
                <li><a class="active"th:href="@{/}">Home</a></li>
                <li>
                    <a href="productsPage">Shop</a>
                    <ul class="dropdown">
                        <li><a href="#">Machines</a></li>
                        <li><a href="#">Beans</a></li>
                        <li><a href="#">Coffee</a></li>
                    </ul>
                </li>
                <li><a href="login2">My Account</a></li>
                <li><a href="aboutus">About</a></li>
                <li><a href="#form-details">Contact</a></li>
                <li id="admin"><a href="adminLogin">Admin</a></li>
                <li id="lg-bag"><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
                
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>
    <div class="bg"></div>
    <div class="container">
        <form th:action="@{/login2}" method="post">
            <h1>Login</h1>
            <div th:if="${error}">
                <p th:text="${error}" style="color: red;"></p>
            </div>
            <div>
                <input type="text" placeholder="Email" name = "email" id="email">
            </div>
            <div>
                <input type="password" placeholder="Password" name = "password" id="password">
            </div>
            <input type="submit" value="Login">
            <div class="signup mt-2">
                Want Free Webspresso?
                </br>
                <a href="signup">Sign Up Now</a>
            </div>
        </form>
    </div>
</body>
</html>
