<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="shortcut icon" href="../favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
</head>
<body>
     <section id="header">
      <img
            th:src="@{/images/logo.png}"
            width="auto"
            height="80"
            class="logo d-inline-block align-top rounded-circle"
            alt=""
        />
  
          <div>
              <ul id="navbar">
                  
                  <li><a class="active"th:href="@{/}">Home</a></li>
                  <li>
                      <a th:href="@{productsPage}">Shop</a>
                      <ul class="dropdown">
                          <li><a th:href="@{/product/origin/ethiopia}"}>Ethiopia</a></li>
                          <li><a th:href="@{/product/origin/kenya}">Kenya</a></li>
                          <li><a th:href="@{/product/origin/brazil}">Brazil</a></li>
                          <li><a th:href="@{/product/origin/colombia}">Colombia</a></li>
                          <li><a th:href="@{/product/origin/centralamerica}">Central America</a></li>
                      </ul>
                  </li>
                  <li><a th:href="@{/login2}">My Account</a></li>
                  <li><a th:href="@{/aboutus}">About</a></li>
                  <li><a href="#form-details">Contact</a></li>
                  <li id="admin"><a th:href="@{adminLogin}">Admin</a></li>
                  <li id="lg-bag"><a th:href="@{/cart}"><i class="far fa-shopping-bag"></i></a></li>
                  
                  <a href="#" id="close"><i class="far fa-times"></i></a>
              </ul>
          </div>
          <div id="mobile">
              <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
              <i id="bar" class="fas fa-outdent"></i>
          </div>
      </section>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center mb-5">Our Products</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-5">
            <form action="#" method="get" th:action="@{/productsPage}">
                <select name="origin" class="form-control">
                    <option value="">All Origins</option>
                    <option value="ETHIOPIA">Ethiopia</option>
                    <option value="KENYA" >Kenya</option>
                    <option value="BRAZIL" >Brazil</option>
                    <option value="COLOMBIA" >Colombia</option>
                    <option value="CENTRALAMERICA">Central America</option>
                </select>
                <input type="hidden" name="defaultOrigin"/>
                <button type="submit" class="btn btn-primary mt-3 btn-outline-secondary" >Filter</button>
            </form>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4" th:each="product : ${products}">
                    <div class="card mb-4 box-shadow">
                        <img class='card-img-top' th:src="'data:image/png;base64,' + ${imgUtil.getImgData(product.imageData)}" />
                        <div class="card-body">
                            <a th:href="@{/product/{id}(id=${product.id})}">
                            <h5 class="card-title" th:text="${product.productName}"></h5>
                            </a>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <form method="post" th:action="@{/cart/add}">
                                        <input type="hidden" name="productId" th:value="${product.id}" />
                                        <div class="form-group">
                                            <label for="quantity">Quantity:</label>
                                            <input type="number" class="form-control" id="quantity" name="quantity" min="1" value="1">
                                        </div>
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                                    </form>
                                </div>
                                <small class="text-muted" th:text="'£' + ${product.productPrice}"></small>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
