<!DOCTYPE html>
<html>
<head>

    <title> Product Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="gallery">
        <div class="content">
            <img src="images/coffebeans1.jpg" />
            <h3>Coffee Beans</h3>
            <p>Round Cut Stud Earrings 6mm-Silver</p>
            <h6>£16.00</h6>
            <button class="buy-1">Buy Now</button>
        </div>



        <div class="content">
            <img src="images/coffeebeans2.jpg" />
            <h3>Coffee Beans</h3>
            <p> Arabica Beans</p>
            <h6>£18.00</h6>
            <button class="buy-2">Buy Now</button>
        </div>


        <div class="content">
            <img src="images/coffeebeans3.jpg" />
            <h3>Coffee Beans</h3>
            <p>  Liberica Beans</p>
            <h6>£24.00</h6>
            <button class="buy-3">Buy Now</button>
        </div>



        <div class="content">
            <img src="images/coffeebeans4.jpg" />
            <h3>Coffee Beans</h3>
            <p> Excelsa Beans</p>
            <h6>£14.00</h6>
            <button class="buy-4">Buy Now</button>
        </div>


        
        <div class="content">
            <img src="images/coffeebeans5.jpg" />
            <h3>Coffee Beans</h3>
            <p>Beans</p>
            <h6>£11.00</h6>
            <button class="buy-5">Buy Now</button>
        </div>

        
        
    </div>
</body>
</html>