<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" href="./static/css/style.css">
    </head>
<body>
    <div class="login">
        <h2>Sign Up!</h2> <br>
        <form action="sign-up.html" method="post">
            <input type="text" name="username" placeholder="Username" /> <br><br>
            <input type="text" name="email" placeholder="Email Address" /> <br><br>
            <input type="password" name="password" placeholder="Password" /> <br><br>
            <button class="button" input type="submit" name="submit">Create Account</button>
            <button class="button" input type="reset" value="Clear" >Clear</button>
        </form>
        <h4>
            Already a user? <a href="login.html" class="btn btn-outline-dark">Login</a>
        </h4>
    <div class = "container-passwords">
        <ul class = "list">
        <h4> Your password must contain: </h4>
         <li> At least one UPPPERCASE letter </li>   
         <li> At least 2 numbers </li>
         <li> A special case letter, e.g., . , / ? ! </li>
         </ul>
    </div>
</body>

</html>